x-extra_hosts:
  # This is added so that within each service/container you can communicate to another service by using a DNS rather
  # than using IP address. Makes it easy if the IP address changes. For example, when configuring Radarr, you can
  # configure the transmission client url as http://host-server:9091

  # Pulls the IP address of the host from the .env file
  &host-server
  - "host-server:${HOST_IP}"
services:
  # Calibre is an ebook management system. In this set up, it is being used simply as a library to store ebooks,
  # which can be accessed via Calibre-web, while Readarr performs the actual ebook management.
  calibre:
    image: linuxserver/calibre
    container_name: calibre
    hostname: calibre
    extra_hosts: *host-server
    restart: unless-stopped
    networks:
      - ebooks_net
    ports:
      - ${CALIBRE_VNC_PORT:-8080}:8080   # HTTP KasmVNC webUI
      - 8081:8081   # Calibre's built-in webserver. Used for Readarr integration
      #- 8181:8181   # HTTPS KasmVNC webUI
    environment:
      PUID: ${CALIBRE_UID:?Please configure CALIBRE_UID in .env file}
      PGID: ${MEDIA_GID:?Please configure MEDIA_GID in .env file}
      TZ: ${TZ:-Australia/Melbourne}
      UMASK: 002
    volumes:
      - ${CONFIG_DIR:?Please configure CONFIG_DIR in .env file}/calibre:/config
      - ${DATA_DIR:?Please configure DATA_DIR in .env file}/media:/data/media   # Calibre Library, aka where the ebooks will end up
      #- path/to/your/CalibreLibrary:/Calibre_Library #this is where your ebooks will end up
      
      #- ${CONFIG_DIR:?Please configure CONFIG_DIR in .env file}/calibre/upload:/uploads #change before the ':'
      #- ${CONFIG_DIR:?Please configure CONFIG_DIR in .env file}/calibre/plugins:/plugins #change before the ':'

  # Calibre-web is a web app providing a clean interface for browsing, reading and downloading eBooks using an existing Calibre database.
  # Expose this to the web to allow for remote access to your Calibre library. Supports mailing direct to kindle
  calibre-web:
    image: linuxserver/calibre-web
    container_name: calibre-web
    hostname: calibre-web
    extra_hosts: *host-server
    restart: unless-stopped
    networks:
      - ebooks_net
    ports:
      - ${CALIBRE_WEBUI_PORT:-8083}:8083
    environment:
      PUID: ${CALIBRE_WEB_UID:?Please configure CALIBRE_WEB_UID in .env file}
      PGID: ${MEDIA_GID:?Please configure MEDIA_GID in .env file}
      TZ: ${TZ:-Australia/Melbourne}
      UMASK: 002
    volumes:
      - ${CONFIG_DIR:?Please configure CONFIG_DIR in .env file}/calibre-web:/config
      - ${DATA_DIR:?Please configure DATA_DIR in .env file}/media:/data/media/
    depends_on:
      - calibre

  # Readarr is an ebook management system. It can be used to manage your ebooks, convert them to different formats,
  # and download ebooks from the internet.
  readarr:
    image: linuxserver/readarr
    container_name: readarr
    hostname: readarr
    extra_hosts: *host-server
    restart: unless-stopped
    networks:
      - ebooks_net
      - download_net
    ports:
      - 8787:8787
    environment:
      PUID: ${READARR_UID:?Please configure READARR_UID in .env file}
      PGID: ${MEDIA_GID:?Please configure MEDIA_GID in .env file}
      TZ: ${TZ:-Australia/Melbourne}
      UMASK: 002
    volumes:
      - ${CONFIG_DIR:?Please configure CONFIG_DIR in .env file}/readarr:/config
      - ${DATA_DIR:?Please configure DATA_DIR in .env file}:/data


networks:
  ## Assumption / Precondition: the external networks exist, either defined in core_services_stack or created manually
  # manual creation command: docker network create --attachable --subnet=172.16.3.0/24 ebooks_net
  ebooks_net:
    external: true
  # manual creation command: docker network create --attachable --subnet=172.16.1.0/24 download_net
  download_net:
    external: true