x-extra_hosts:
  # This is added so that within each service you can communicate to another service by using the DNS name of the host rather
  # than using IP address. Makes it easy if the IP address changes. For example, when configuring Radarr, you can
  # configure the transmission client url as http://host-server:9091
  &host-server
  # Pulls the IP address of the host from the .env file
  - "host-server:${HOST_IP}"

services:
  ## (Required) Download stack
  # The following are the services for downloading torrents, managing indexers, and VPN
  
  ## Outbound VPN connection
  # can confirm connectivity by with "docker exec gluetun wget -q -O- http://ipecho.net/plain"
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    hostname: gluetun
    extra_hosts: *host-server
    restart: unless-stopped
    cap_add:
      - NET_ADMIN # Required to create the VPN tunnel, modify routes, and apply firewall rules inside the container
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      download_net:
        aliases:
          - qbittorrent   # as qibittorrent is attached to gluetun, it's only accessible by 'gluetun' from other containers. This alias makes it accessible by 'qbittorrent' too
    ports:
      # - 8000:8000/tcp # Control server
      # - 8080:8080/tcp # HTTP proxy
      # - 8388:8388/tcp # Shadowsocks
      # - 8388:8388/udp # Shadowsocks
      - ${QBIT_WEBUI_PORT:-8080}:8080 # port for qbittorrent. # see comment at top of qbittorrent service directive for changing the port
    secrets:
     - OPENVPN_USER
     - OPENVPN_PASSWORD
    environment:
      PUID: ${GLUETUN_UID:?Please configure GLUETUN_UID in .env file}
      PGID: ${GLUETUN_GID:?Please configure GLUETUN_GID in .env file}
      TZ: ${TZ:-Australia/Melbourne}
      UMASK: 002
      # Guide for provider options: https://github.com/qdm12/gluetun-wiki/blob/main/setup/providers/protonvpn.md
      VPN_SERVICE_PROVIDER: ${VPN_SERVICE_PROVIDER:?Please configure VPN_SERVICE_PROVIDER in .env file}
      # Guide for secrets: https://github.com/qdm12/gluetun-wiki/blob/main/setup/advanced/docker-secrets.md
      OPENVPN_USER_SECRETFILE: /run/secrets/OPENVPN_USER
      OPENVPN_PASSWORD_SECRETFILE: /run/secrets/OPENVPN_PASSWORD
      SERVER_COUNTRIES: ${SERVER_COUNTRIES:?Please configure SERVER_COUNTRIES in .env file}
      PORT_FORWARD_ONLY: on     # Filter only port-forwarding enabled (aka p2p) servers from the above list
      # enable vpn port forwarding for better seeding
      VPN_PORT_FORWARDING: on   # make sure you add '+pmp' to your openvpn username in the secrets file
      # The port opened for port forwarding is dynamic, so using a script to set the port in qbittorrent
      VPN_PORT_FORWARDING_STATUS_FILE: /config/forwarded_port.txt   # also write it to file for troubleshooting
      VPN_PORT_FORWARDING_UP_COMMAND: /bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{PORTS}}}" http://127.0.0.1:8080/api/v2/app/setPreferences 2>&1'
    volumes:
      - ${CONFIG_DIR:?Please configure CONFIG_DIR in .env file}/gluetun:/config
    labels:
      # This is to disable watchtower from updating this container, because Containers connected to Gluetun lose connection once Gluetun is restarted
      # can choose to monitor only, or fully disable
      - "com.centurylinklabs.watchtower.monitor-only=true"   
      #- com.centurylinklabs.watchtower.enable=false


  ## Torrent downloads. Has inbuilt RSS support.
  # Note: to change the WebUI port, as well as specifying it in the environment variable you will need to run the container with the
  # default port, then change the port in the WebUI settings, then stop the container and change the port in the docker-compose file
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    #hostname: qbittorrent      # can't use hostname as this container is connected to service:gluetun
    #extra_hosts: *host-server  # this causes an issue when used with network_mode: "service:gluetun"
    restart: unless-stopped
    network_mode: "service:gluetun"
    #ports:                     # all port mappings are done in the gluetun service
      #- ${QBIT_WEBUI_PORT:-8080}:${QBIT_WEBUI_PORT:-8080} # see comment at top of service for changing the port
    environment:
      PUID: ${QBITTORRENT_UID:?Please configure QBITTORRENT_UID in .env file}
      PGID: ${MEDIA_GID:?Please configure MEDIA_GID in .env file}
      TZ: ${TZ:-Australia/Melbourne}
      WEBUI_PORT: ${QBIT_WEBUI_PORT:-8080}    # see comment at top of service for changing the port
      UMASK: 002    # without this set, files downloaded by deluge don't get the 'w' group octal set
      # and then users in the MEDIA_GID group can't hardlink the files
    volumes:
      - ${CONFIG_DIR:?Please configure CONFIG_DIR in .env file}/qbittorrent:/config
      - ${DATA_DIR:?Please configure DATA_DIR in .env file}/torrents:/data/torrents
    # As per https://github.com/qdm12/gluetun-wiki/blob/main/setup/connect-a-container-to-gluetun.md, no need to set 'depends on' 
    # as the network_mode: "service:gluetun" will ensure that qbittorrent will only start once gluetun is healthy
    # depends_on:
    #   gluetun:
    #     condition: service_healthy


  ## Torrent Indexer management
  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    hostname: prowlarr
    extra_hosts: *host-server
    restart: unless-stopped
    #network_mode: "service:gluetun"   # Turns out australia is a repressive country, so it's recommended that even indexer requests
                                      # should go via a VPN https://wiki.servarr.com/sonarr/faq#vpns-jackett-and-the-arrs
    networks:
      - download_net
    ports:
      - 9696:9696
    environment:
      PUID: ${PROWLARR_UID:?Please configure PROWLARR_UID in .env file}
      PGID: ${MEDIA_GID:?Please configure MEDIA_GID in .env file}
      TZ: ${TZ:-Australia/Melbourne}
      UMASK: 002
    volumes:
      - ${CONFIG_DIR:?Please configure CONFIG_DIR in .env file}/prowlarr:/config

  ## Captcha solver for Prowlarr
  # Mainly using this for the 1337x indexer
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    hostname: flaresolverr
    extra_hosts: *host-server
    restart: unless-stopped
    #user:  # Breaks the container if set. Additionally the container isn't touching any files on the host, no volumes are mounted.
            # Inside this container it is running as user 'flaresolverr' and uid=1000 gid=1000, If the container is compromised 
            # and the attacker somehow gets access to volumes on the host, they'd get access as 1000:1000 so would have access 
            # to the 'main' user on the host. Not great. That being said, they would have had to have compromised docker in some
            # way or form, and docker is running as root, so...eh
    networks:
      - download_net
    ports:
      - 8191:8191
    environment:
      TZ: ${TZ:-Australia/Melbourne}
      LOG_LEVEL: ${LOG_LEVEL:-info}
      LOG_HTML: ${LOG_HTML:-false}
      CAPTCHA_SOLVER: ${CAPTCHA_SOLVER:-none}


networks:
  ## Assumption / Precondition: the external networks exist, either defined in core_services_stack or created manually
  # manual creation command: docker network create --attachable --subnet=172.16.1.0/24 download_net
  download_net:
    external: true

secrets:
  OPENVPN_USER:
    file: ${SECRETS}/gluetun/openvpn_user
  OPENVPN_PASSWORD:
    file: ${SECRETS}/gluetun/openvpn_password